h1{
  font-family: 'Indie Flower', cursive;
  text-align: left;
}

.navbar-dark .navbar-brand {
  }

.jumbotron{
  background-size: cover;
  background-color: black;
}

.subsitepic{
  width: 400px;
}

h3{
  text-align: left;
}
